

<div style="width: 50%; margin: 0 auto;">
    <img src="~/Images/8Bit Contact.png" />
</div>

<br />
<p>Anyone looking to contact me about a position should submit an e-mail to the address listed below. I do my best to check it regularly; expect a response in a week or less.</p>

<address style="height:30%;">
    <a href="mailto:Daniel.Ed.Callahan@gmail.com"><img src="~/Images/8bit email icon.png" />: Daniel.Ed.Callahan@gmail.com</a><br />
</address>